<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3h98vQYjMcfe_zCk4DkvYY-JPvQIPGrE</string>
	<key>GCM_SENDER_ID</key>
	<string>655702546630</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recycleGo</string>
	<key>PROJECT_ID</key>
	<string>recyclego-64b10</string>
	<key>STORAGE_BUCKET</key>
	<string>recyclego-64b10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655702546630:ios:90b15b3de6a7b576795fc7</string>
</dict>
</plist>